@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

body, .content-left, .content-right, .text-up, .text-down{
  font-family: 'Open Sans', sans-serif;
}

.arc text {
  text-anchor: middle;
}

.container-fluid {
  width: 100%;
}

.text-up{
  font-size: 1.5em;
  fill: #C6C7C5;
}
.text-down{
  font-size: 1.85em;
}

.grafica {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}

.content-right {
  font-weight: bold;
}

.info{  
  border-bottom: 2px solid #C6C7C5;
  margin-left: 0.09em !important;  
}
span{font-weight: bold}; 
